In [2]:
# LIST BASICS
# declaring a list
list=[10,10,20,20]

# to print items
print(list[1])
# prints indexed 1st item of the list.

# negative indexing
print(list[-2])

# Acessing elements of Multi-Dimen set
list_1 = [[0,1,2],'Soham',[4,5,6]]
list_2 = [10,20,30]

# print indexed 0 list
print(list_1[0])

# print 4
print(list_1[2][0])

# Methods of List 
''' 1)Append
    2)Insert
    3) Extend'''

# 1)
list_1.append("Hello")
print(list_1)

# 2) 
list_1.insert(0,'crazy')
print(list_1)

# 3) 
list_1.extend(list_2)
print(list_1)

# INPUT METHOD:

car = int(input("ENter Number of range: "))
for i in range(car):
    x = input("ENter something: ")
    list_2.append(x)
print(list_2)

# insert
list_2.insert(0,'Good')
print(list_2)

# pop
list_2.pop()
print(list_2)

# delete
del list_2[2]
print(list_2)

# remove
list_2.remove('Good')
print(list_2)

10
20
[0, 1, 2]
4
[[0, 1, 2], 'Soham', [4, 5, 6], 'Hello']
['crazy', [0, 1, 2], 'Soham', [4, 5, 6], 'Hello']
['crazy', [0, 1, 2], 'Soham', [4, 5, 6], 'Hello', 10, 20, 30]

In [ ]:
# Exp3_1
list_1 = [1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list_1:
    if(i%2==0):
        sum+=i

print(sum)

30

In [1]:
# Exp3_2
tuple_1 = (10,20,30,40,50)
list_1 = list(tuple_1)
print(list_1)
print(list_1[2:5:])

[10, 20, 30, 40, 50]
[30, 40, 50]

In [3]:
# Exp3_3
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7}

main_set = set_1.intersection(set_2)
print(main_set)

{4, 5}

In [5]:
# Exp3_4
dict_1 = {'a':'1','b':'2','c':'3'}
dict_2 = {'b':'10'}
dict_1.update(dict_2)
print(dict_1)

{'a': '1', 'b': '10', 'c': '3'}

In [8]:
# Exp3_5
numbers = [1,2,3,4,5] 
squared = [x*x for x in numbers] 
print(squared)

[1, 4, 9, 16, 25]

In [10]:
# Exp3_6
tuple_1 = ('cat','dog','bird')
list_1 = list(tuple_1)

for i in list_1:
    if 'Dog' in list_1:
        print('True')
    else:
        print('False')

False
False
False

In [12]:
# Exp3_7
list = [1, 1, 2, 3, 5, 8, 13]
set_1 = set(list)
print(set_1)
print(len(set_1))

{1, 2, 3, 5, 8, 13}
6

In [3]:
# Exp3_8
dict_1 = {'A': [1, 2], 'B': [3, 4]} 
dict_2 = {'B': [5, 6], 'C': [7, 8]}

dict_1.update(dict_2)
print(dict_1)

{'A': [1, 2], 'B': [5, 6], 'C': [7, 8]}

In [12]:
# Exp3_9
list = [3, 5, 7, 3, 5, 9, 3]
elem_freq = {}

for elem in list:
  if elem in elem_freq:
    elem_freq[elem] += 1
  else:
    elem_freq[elem] = 1

print(elem_freq)

{3: 3, 5: 2, 7: 1, 9: 1}

In [5]:
# Exp3_10
tuple_1 = (1, 2, 3, 4, 5) 
max_1 = max(tuple_1)
min_1 = min(tuple_1)
print("maximum value in tuple is: ",max_1)
print("minimum valu in tuple is: ",min_1)

maximum value in tuple is:  5
minimum valu in tuple is:  1

In [ ]:
# Exp3_11

In [6]:
#Exp3_12
sales_dict_1 = {'Fridges':'1700','TV':'1200','Washing Machine':'1300'}
values_1 = sales_dict_1.values()
print(values_1)

dict_values(['1700', '1200', '1300'])

In [7]:
# Exp3_13
temperatures=[22, 25, 19, 30, 28, 32, 26]
temp_1 = tuple(temperatures)
max_temp = max(temp_1)
min_temp = min(temp_1)
print("Maximum temperature is: ",max_temp)
print("Minimum temperature is: ",min_temp)

Maximum temperature is:  32
Minimum temperature is:  19

In [11]:
# Exp3_14
scores_1 = [(90, 'Alice'), (85, 'Bob'), (88, 'Charlie')]
scores_2 = dict(scores_1)
print(scores_2)
print(scores_2.values())
max_val = tuple(scores_2)
print(max_val)

{90: 'Alice', 85: 'Bob', 88: 'Charlie'}
dict_values(['Alice', 'Bob', 'Charlie'])
(90, 85, 88)

In [18]:
# Exp3_16
list_1 = [1,2,3,4,5,6,7,8,9,10]
for i in range(1,11):
    squared = [i*i for i in list_1] 
print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# Exp3_15
sum=0
list_1 = [2,4,6,8,10]

for ele in range(0,len(list_1)):
    sum = sum+list_1[ele]

print("Sum of elements in list are: ",sum)

Sum of elements in list are:  30

In [ ]:
# Exp3_17
for i in range(1,51):
    if(i%3==0 and i%5==0):
        print("FizzBuzz")
    elif(i%5==0):
        print("Buzz")
    elif(i%3==0):
        print("Fizz")
    else:
        print(i)

In [22]:
# Exp3_18
for i in range(1,100):
    if(i%2==0 and i%5==0):
        val_1 = list[i]

print(val_1)

[90]